.CFUserTextEncoding
.DS_Store
.bash_history
.bash_profile
.bash_sessions/
.bintray/
.dropbox/
.gitconfig
.idea-build/
.ivy2/
.pia_manager/
.sbt/
.ssh/
Applications/
Boostnote/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
OneDrive/
Pictures/
Public/
git/
.scala_history
.ammonite/
.vscode/
gitwork/
go/